.list-group
  = link_to 'Мои заказы', user_orders_path, class: 'list-group-item'
  = link_to 'Личные данные', private_office_path, class: 'list-group-item'
  = link_to 'Изменить данные', edit_user_registration_path, class: 'list-group-item'
