/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */
@import "framework_and_overrides";
@import "news_item";
@import "products";
$primary-color: #01499A;
$primary-color-red: #B30932;

body {
//  background-color: #eee;
}

a {
  color: $primary-color;
}
.btn-primary {
  color: #fff;
  background: $primary-color;
  border: solid 1px darken($primary-color, 5%);
  &:hover {
    background: lighten($primary-color, 5%);
  }

}
.page-header {
  margin-top: 15px;
}
.title{
  margin-left: 10px;
  margin-top: 55px;
  color: $primary-color;
}
.cart {
  margin: 5px 15px;
}
.valutes-info, .valutes-info:focus, .valutes-info:hover {
  font-size: 0.85em;
  border: none;
  box-shadow: none;
  color: #fff;
  .panel {
    border: none;
    box-shadow: none;
    background-color: $primary-color-red;
    td {
      border: none;
    }
  }

}
.nav-panel {
  .btn {
    background: $primary-color;
    min-width: 100px;
    margin: 2px;
  }
  .btn:hover {
    background: lighten($primary-color, 5%);
  }
}
.search-panel {

  border: none;
  box-shadow: none;
  background-color: $primary-color-red;

  .btn {
    color: #fff;
    background: $primary-color;
    border: solid 1px darken($primary-color, 5%);
  }
  label {
    color: #fff;
    margin-right: 15px;
  }
}
.footer-panel {
  color: #ffffff;
  border: none;
  box-shadow: none;
  background-color: $primary-color-red;
  a  {
    color: #ffffff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .btn-social-icon {
    margin: 5px 3px;
  }
}
.categories-sidebar {
  margin-top: 70px;
  .active {
    background-color: $primary-color;
    border: solid 1px darken($primary-color, 5%);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
}
.thumbnail {
  &:hover {
    border: solid 1px darken($primary-color, 5%);
  }
  .cart-title{
    display: block;
    height: 40px;
    color: $primary-color;
  }
  .cart-price {
    color: $primary-color-red;
    font-size: 1.3em;
  }
}
.pagination {
  li a {
    color: $primary-color;
  }
  .active a {
    background-color: $primary-color;
    border: solid 1px darken($primary-color, 5%);
    &:hover {
      background: lighten($primary-color, 5%);
    }

  }
}