// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #01499A;
$primary-color-red: #B30932;
.price-well {
  margin-top: 25px;
  .price {
    color: $primary-color-red ;
    font-size: 1.5em;
  }
  .btn-default:active {
    color: white;
    border-color: darken($primary-color-red, 5%);
    background: lighten($primary-color-red, 8%);
  }
  .go-to-cart-btn {
    background-color: $primary-color-red;
    border-color: darken($primary-color-red, 5%);
    color: #ffffff;
    &:hover {
      color: white;
      border-color: darken($primary-color-red, 5%);
      background: lighten($primary-color-red, 5%);
    }
  }
}
.show-img {
  margin-bottom: 30px;
}
